<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/teams">
  <label>Team Name: <input type="text" name="team[name]"/></label>
  <label>Team Motto: <input type="text"name="team[motto]"/></label>
  <h2>Hero 1</h2>
  <label>Hero's Name: <input id="member_1_name" type="text" name="team[members][][name]"/></label>
  <label>Hero's Power: <input id="member_1_power" type="text"name="team[members][][power]"/></label>
  <label>Hero's Biography: <input id="member_1_biography" type="text" name="team[members][][biography]"/></label>
  <h2>Hero 2</h2>
  <label>Hero's Name: <input id="member_2_name" type="text" name="team[members][][name]"/></label>
  <label>Hero's Power: <input id="member_2_power" type="text" name="team[members][][power]"/></label>
  <label>Hero's Biography: <input id="member_2_biography" type="text" name="team[members][][biography]"/></label>
  <h2>Hero 3</h2>
  <label>Hero's Name: <input id="member_3_name" type="text" name="team[members][][name]"/></label>
  <label>Hero's Power: <input id="member_3_power" type="text" name="team[members][][power]"/></label>
  <label>Hero's Biography: <input id="member_3_biography" type="text" name="team[members][][biography]"/></label>
</form>
